.infoButton {
	height: 23px;
	width: 23px;
	border: none;
	outline: none;
}

#waitingIcon {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loadingIcon.gif) center no-repeat rgb(51, 51, 51);
    opacity: 0.5;
}

.job-info-container {
	margin: 15px 15px 15px 15px;
}

#jobInfoModal {
    top: 0% !important;
}

#modal-city {
    font-weight: normal !important;
    margin-top: 0px;
}

#modal-job-title {
    font-weight: bold;
    margin-top: 0px;
}

#modal-company-name {
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}

.breakWord {
    word-break: break-word;
}
