body {
  width:250px;
  margin: 0px;
  padding: 0px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,000000+0,000000+0,595959+1,474747+29,1c1c1c+78,2b2b2b+100,131313+100 */
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #000000 0%, #000000 0%, #595959 1%, #474747 29%, #1c1c1c 78%, #2b2b2b 100%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#000000 0%,#000000 0%,#595959 1%,#474747 29%,#1c1c1c 78%,#2b2b2b 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4c4c4c 0%,#000000 0%,#000000 0%,#595959 1%,#474747 29%,#1c1c1c 78%,#2b2b2b 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}
.footerArea, .headerArea {
  text-align: center;
  font-family:  "Courier New", Courier, monospace;
  font-size:14px;
}

.headerArea {
  color: rgb(252,212,101);
}

.footerArea, .footerArea a {
  color:white;
}

.thanks-text {
  border: solid;
  border-color: gray;
  border-radius: 5px;
}

.thanks-text span {
  top:3px;
}
