<div class="job-info-container modal-dialog">
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="row">
				<h1 id="modal-company-name">
					{{#companyWebsite}}
					<a href='{{companyWebsite}}' target="_blank" title="{{companyName}}">
					{{/companyWebsite}}
					{{#squareLogo}}
					<img class="company-logo img-responsive img-thumbnail" src='{{squareLogo}}' title='{{companyName}}'/>
					{{/squareLogo}}
					{{{companyName}}}
					{{#companyWebsite}}
					</a>
					{{/companyWebsite}}
				</h1>

			</div>
			<div class="row">
				<div class="col-xs-10">
					<h2>
						<a class="job-title-modal-MWGA" target="_self" onclick="{{{onClickURL}}}" id="modal-job-title">{{{jobTitle}}}</a>
						<!-- {{jobTitle}} -->
						{{#city}}
							<span id="modal-city">-{{city}}</span>
						{{/city}}
					</h2>

				</div>
				<div class="col-xs-2 glassdoor-info">
				{{#glassDoorLink}}
					<h2><a href='{{glassDoorLink}}' target="_blank">
						{{#glassDoorRating}}
							Company Rating: {{glassDoorRating}}/5.0
						{{/glassDoorRating}}
						{{^glassDoorRating}}
							Search it!
						{{/glassDoorRating}}
						</a>

						<span class="glassdoor-logo">
							<a href='https://www.glassdoor.ca/index.htm'
							target="_blank">powered by
							<img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png'
							title='{{Job Search}}'/></a>
						</span>
					</h2>
				{{/glassDoorLink}}

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<table class="table">
				<tbody>
					{{{tableContent}}}
				</tbody>
			</table>
		</div>
	</div>
</div>
